
.col > div > img{
  width: 250px;
  height: 250px;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-container{
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  background-color: rgb(19,25,33);
  position: sticky;
  top:0px;
  z-index: 1000;
}

.logo{
  width: 150px;
  height: 150px;
  padding: 10px;
}

.header-button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.cart-button{
  width: 100px;
  height: 50px;
  background-color: green;
  color: white;
  border-radius: 10px;
  margin-right: 20px;
  justify-content: flex-start;
}

.cart-image{
  width: 50px;
  height: 50px;
  color: white;
}

.buttons{
  width: 20px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}


.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  padding: 30px;
}

.search-bar{
 width: 100%;
 height: 50px;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;

}

.search-bar > Input{
  width: 30%;
  height: 50px;
  margin-left: 300px;
  
}


.pagination-container{
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
}
.product > img{
  padding: 40px;
}

.product{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
  max-height: 800px ;
}

.expand-button{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
 padding: 2px;
}


.main-container{
  display: flex;
  flex-direction: column;
  align-items: end;
}


.filter-container{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  width: 1000px;
  height: 100px;
  gap: 90px;
  padding:100px 200px;
}



.buttons{
 display: flex;
 flex-direction: column;
 align-items: flex-end;
 justify-content: center;
  gap: 5px;
  width: 80px;
  height: auto;
  padding: 10px;

}

.buttons > button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  width: 20px;
  height: 20px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.button-container{

  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 2px;
  justify-content: center;
  align-items: center;

}

.sidebar-product{
  width: 200px;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.sidebar-product > img{
  width: 80px;
  height: 90px;

}

.btn-group > Button{
  width: 20px;
  height: 20px;

}

.btn-group{
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.sidebar{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

}



.cart-container {
  position: relative;
  display: inline-block;
}

.cart-image {
  width: 40px; 
  height: 40px;
}

.cart-badge {
  position: absolute;
  top: -12px;
  right: 35px;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 50%;
}


.cart-text{
  margin-top: 10px;
  font-size: 10px;
  font-weight: bold;
}

.cart-badge,.price,.cart-text > span{
   color: black;
   font-size: 11px;
   font-weight: bold;
}


.reset-button{
  margin-top: 30px;
  margin-left: 60px;
}


.login-container{
  display: flex;
  width: 400px;
  height: 400px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;

}


.login-container{
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.login-container > Form {
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 1px solid #e3e3e3;
  background-color: #f9f9f9;
}

.login-container > Form > Button{
  width: 100px !important;
  color: green;
}


.filters{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

}

.search-bar > Input{
  margin-left: 220px;
  border: 1px solid grey;
  color: black !important;
  border-radius: 25px;

}


Input::placeholder {
  color:black !important;
  font-family: 'Arial', sans-serif;
  font-size: 18px; 
  font-style: italic; 
  padding: 5px;
}



.buttons > Button{
  border: 2px solid rgb(179, 178, 178);
}